.event-card{
    display: flex;
    width: 405px;
    min-width: 100%;
    min-width: 280px;
    color: @black;
    &__link{
        display: flex;
        flex-direction: column;
        text-decoration: none;
        width: 100%;
        &:active{ 
        .event-card__title{
            color: @red;
            text-decoration-color: @red;
        }
    }
        &:hover 
        .event-card__title{
        @media (hover: hover){
color: @red;
text-decoration-color: @red;
        }
    }
}

 &__picture{
        display: block;
        margin: 0 0 25px;
        position: relative;
        width: 100%;
        font-size: 0;
        text-decoration: none;
        overflow: hidden;
    &::after{
            content: '' ;
            width: 100%;
            padding-top: 107.16%;
            display: block;
            }
        }
&__img{
display: block;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover;
}

&__title{
    margin: 0 0 15px;
    min-height: 66px;
    color: #1f1e1e;
    line-height: 1.3;
    font-size: 24px;
    font-weight: 700;
    text-decoration: underline transparent;
    transition:  color 0.2s; text-decoration: 0.2s;
    @media @bw1660 {
        margin: 0 0 10px;
    }
   
    @media @bw1340 {
        min-height: 54px;
        font-size: 20px;
        line-height: 27px;
    }
    @media @bw1020 {
        min-height: 42px;
        font-size: 16px;
        line-height: 21px;
    }
    } 
&__description{
margin: 0 0 auto;
font-size: 16px;
line-height: 22px;
@media @bw1020 {
    font-size: 14px;
    line-height: 19px;
}
    }              
&__text{
        margin: 0 0 auto;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.3;
        }
&__time{
        margin-top: 15px 0 0;
        font-weight: 300;
        font-size: 14px;
        line-height: 19px;
        }   
}         