html ,

body {
    margin: 0;
    padding: 0;
    width: 100%;
}

.body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 147px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.section-title{

}









.listing__events-card{
    width: calc(33.333% - 40px);
    }

    .reserve {
        display: grid;
        grid-template-columns: 405px 1fr;
        grid-template-areas: 
        "checkbox scheme" 
        "order legend";
        gap: 65px 11%;
        width: 100%;
    }

    .reserve__checkbox{
        grid-area: "checkbox";
        background-color: #bc3324;
    }
    
    .reserve__scheme{
        grid-area: "scheme";
        background-color: aqua;
    }

    .reserve__order{
        grid-area: "order";
        background-color: rgb(9, 228, 71);
    }

    .reserve__legend{
        grid-area: "legend";
        background-color: rgb(160, 48, 123);
    }
.main {
    flex: 1 0 auto;
}

